input_data/*.csv filter=lfs diff=lfs merge=lfs -text
input_data/*.xlsx filter=lfs diff=lfs merge=lfs -text
intermediate_data/*.xlsx filter=lfs diff=lfs merge=lfs -text
intermediate_data/*.csv filter=lfs diff=lfs merge=lfs -text
output_data/*.csv filter=lfs diff=lfs merge=lfs -text
output_data/*.xlsx filter=lfs diff=lfs merge=lfs -text
