######################################
#following are my own additions
######################################

# # excell files 
# *.xlsx
# *.csv#these are now tracked using lfs for output_data/** and input_data/**
*.pickle
*.pkl
#graphs
*.png
*.jpg
*.html
*.log
#anything in archive folders doesnt nee to be tracked
**/archive
# #anything in the intermediate_data folder doesnt need to be tracked
# **/intermediate_data
#####################
env_jupyter/*
env_transport_data_system/*
#####################

#except we want to track any files in these folders
# !config/*
# !other_outputs/*
# !input_data/**
#but ignore this particularly large file
# input_data/Google mobility data/Global_Mobility_Report.csv

#keep all in documentation folder
!documentation/*

######################################
#following is a thinned down version of a standard python gitignore
######################################
#ignore .pyc files
*.pyc
#ignore anything in a __pycache__/ folder
__pycache__/